<!-- myapp/templates/registration/login.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Log in</title>
</head>
<body>
    <h1>Log in</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log in</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</body>
</html>
