<h2>Shipeos!!!!</h2>

<table>
    <!-- jinja!!! -->
    <!-- % for X in Y % -->
    <!-- % endfor % -->

    <!-- % if X  % -->
    <!-- % endif % -->

    <!-- [[ nombreVariable ]] -->
    <!-- [[ nombreVariable.variableDeDentro ]] -->
    

    {% for item in object_list %}
        <tr>
            <td>{% for amante in item.amantes.all %}
                {{ amante }} ,

            {% endfor %}</td>
            <td>{{ item.nombreShip }}</td>
            <td>{{ item.fechaInicio }}</td>
            <td>{{ item.isActive }}</td>
            <td>
                <!-- item.chismes no es una lista, es un related manager
                item.chismes.all es cuando devuelve la lista -->
                {% for chisme in item.chismes.all %}
                    {{ chisme.texto_chisme }} ,

                {% endfor %}
            </td>

        </tr>
    {% endfor %}
</table>


<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Log Out</button>
</form>
