<h2>Shipeo!!!! Individual</h2>

<table>
    <!-- jinja!!! -->
    <!-- % for X in Y % -->
    <!-- % endfor % -->

    <!-- % if X  % -->
    <!-- % endif % -->

    <!-- [[ nombreVariable ]] -->
    <!-- [[ nombreVariable.variableDeDentro ]] -->

    <!-- grup es user.groups.all(), es un queryset -->
    {{ grup }}
    {%  for n in grup %}
        <!-- pots recorrer el queryset i mirar els seus grups, depenent dels grups a on esta fer una cosa o altra -->
        {{ n.name }}
        {% if n.name == "Guapo" %}
            COSAS COSAS COSAS
        {% endif %}
    {% endfor %}

        <tr>
            <td>{% for amante in detalle.amantes.all %}
                {{ amante }} ,

            {% endfor %}</td>
        </tr>
        <tr>

            <td>{{ detalle.nombreShip }}</td>
        </tr>
        <tr>

            <td>{{ detalle.fechaInicio }}</td>
        </tr>
        <tr>

            <td>{{ detalle.isActive }}</td>
        </tr>
        <tr>

            <td>
                <!-- item.chismes no es una lista, es un related manager
                item.chismes.all es cuando devuelve la lista -->
                {% for chisme in detalle.chismes.all %}
                    {{ chisme.texto_chisme }} ,

                {% endfor %}
            </td>

        </tr>
</table>