<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>¿Que apuesto/a amante quieres añadir hoy?</title>
    
</head>
<body>

    <!-- la template sempre té acces al user, encara que no li passis per context -->
    Hola {{ user.username }}



    <form action="{% url "amanteAnadido" %} " method="post">
    {% csrf_token %}
        <fieldset>
            <legend><h1>  Se respira el amor en DAMvi. Hay {{ num }} amantes ya </h1></legend>
            <label>Introduce nombre del Amante</label>
            <input type="text" name="nombre" id="nombreAmante">
            <label>Introduce Edad del Amante</label>
            <input type="number" name="edad" id="edadAmante">
        </fieldset>
        <input type="submit" value="{{ chen }}">
    </form>
</body>
</html>