<h2>EL SHIPEO DEL DIA!!!!</h2>

<table>
    <!-- jinja!!! -->
    <!-- % for X in Y % -->
    <!-- % endfor % -->
    
    <!-- % if X  % -->
    <!-- % endif % -->
    
    <!-- [[ nombreVariable ]] -->
    <!-- [[ nombreVariable.variableDeDentro ]] -->
    
    {% for item in object_list %}
    <tr>
        <td>{{ item.nombre1 }}</td>
        <td>{{ item.nombre2 }}</td>
        <td>{{ item.nombreShip }}</td>
    </tr>
    {% endfor %}
</table>