
<table class="table">
    <thead>
        <tr>
            <th>Títol</th>
            <th>Categoria</th>
            <th>Prestec?</th>
            <th>Usuari</th>
            <th>Accions</th>
        </tr>
    </thead>
    <tbody>
        {% for llibre in llibres %}
        <tr>
            <td>{{ llibre.titol }}</td>
            <td>
                {% if llibre.categoria == 'FICCIO' %}
                    Ficció
                {% else %}
                    No Ficció
                {% endif %}
            </td>
            <td>{%  for i in llibre.prestecs.all %}
                    {%  if i.actiu == True %}
                        Si
                    {%  endif %}
                {% endfor %}</td>
            <td>{%  for i in llibre.prestecs.all %}
                    {%  if i.actiu == True %}
                        {{ i.membre.nom }}
                    {%  endif %}
                {% endfor %}</td>
            <td>
                <a href="{% url 'eliminar_llibre' llibre.id %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No hi ha llibres disponibles.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>