<h1>Crear Nou Llibre</h1>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="titol" class="form-label">Títol</label>
        <input type="text" class="form-control" id="titol" name="titol" required>
    </div>
    <div class="mb-3">
        <label for="categoria" class="form-label">Categoria</label>
        <select class="form-select" id="categoria" name="categoria" required>
            <option value="" selected disabled>Selecciona una categoria</option>
            {% for valor, text in categories %}
                <option value="{{ valor }}">{{ text }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
