<form action="{% url 'pregunkane:vote' pregunta.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ pregunta.texto_pregunta }}</h1></legend>
    <!--error_message es una variable que es retorna automaticament a la template si hi ha hagut alguna excepcio -->
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <!--estem recorrent pregunta -->
    {% for posiblerespuesta in pregunta.respuestas.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ posiblerespuesta.id }}">
        <label for="choice{{ forloop.counter }}">{{ posiblerespuesta.texto_respuesta }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>