{% if ultimaspreguntas %}
    <ul>
    {% for preg in ultimaspreguntas %}
        <li><a href="/kane/{{ preg.id }}/">{{ preg.texto_pregunta }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay encuestas</p>
{% endif %}